<div style="background-color: #eeeeee; padding:0 40px; position:absolute; width:100%; left: 0; top: 0;">
  <div style="text-align:center; margin: 80px 0;">
    <h1>
      <i class="fa fa-flag"></i> 签证操作步骤
    </h1>
  </div>
  <br/>
  <br/>


  <div style="font-weight: bold; color:#333333; font-size:25px; padding:10px 0;">1. 登录管理画面</div>
  <div style="font-size: 16px;">　当您收到弊社发给您的账号与密码后，请打开<a href="/login">飞鹤签证管理中心</a>网站，输入您的账号与密码，按登录。(※如果显示浏览器较落后，请<a href="http://ie.sogou.com/">由此</a>下载搜狗浏览器最新版本后，使用搜狗浏览器打开此网站。)</div>
  <div style="padding:30px; text-align:center;"><img alt="now loading..." src="login.gif" style="width:50%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div>
  <br/>
  <br/>
  <br/>
  <br/>

  <div style="font-weight: bold; color:#333333; font-size:25px; padding:10px 0;">2. 申请签证</div>
  <div style="font-size: 16px;">　进入签证主页后，按申请。 (如果您希望使用全自动Excel读取模式，您不必由以下步骤操作。请按照<a class="btn btn-success" href="/description_excel">全自动Excel上传步骤</a>来操作。 )</div>
  <div style="padding:30px; text-align:center;"><img alt="now loading..."  src="new_project.gif" style="width:50%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div>
  <br/>
  <br/>
  <br/>
  <br/>
  <div style="font-weight: bold; color:#333333; font-size:25px; padding:10px 0;">3. 填写签证资料</div>
  <div style="font-size: 16px;">　在填写画面，填入送签社，签证种类，日本入境日期与出境日期。(当您在填送签社时，系统会给您推荐全名，您必须选择系统推荐的正式名称。)</div>
  <div style="padding:30px; text-align:center;"><img alt="now loading..."  src="recommand.gif" style="width:50%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div><br/>
  <div style="padding:30px; text-align:center;"><img alt="now loading..."  src="date.gif" style="width:50%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div>
  <br/>
  <br/>
  <br/>
  <br/>
  <div style="font-weight: bold; color:#333333; font-size:25px; padding:10px 0;">4. 填写申请人名单</div>
  <div style="font-size: 16px;">　填入查证人的个人信息。如果查证人不止1人，按右下角的＋键追加行数。(※代表人必须填在第一行。)</div>
  <div style="padding:30px; text-align:center;"><img alt="now loading..."  src="client.gif" style="width:50%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div><br/>

  <% if(false) %>
  <div style="padding:30px; text-align:center;"><img alt="now loading..."  src="client2.gif" style="width:50%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div>
  <br/>
  <br/>
  <div style="font-size: 16px;">　※如果您已有完整的Excel格式名单，上一步您可以不做。您可以打开Excel文件，选择客人所有资料后，通过+Excel拷贝&粘贴功能直接读取。<br/>　请注意顺序。如果Excel格式或顺序不对，系统无法读取文件。</div>
  <div style="padding:30px;"><img alt="now loading..."  src="excel1.gif" style="width:100%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div><br/>
  <div style="padding:30px;"><img alt="now loading..."  src="excel2.gif" style="width:100%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div>
  <% end %>

  <br/>
  <br/>
  <br/>
  <br/>
  <div style="font-weight: bold; color:#333333; font-size:25px; padding:10px 0;">5. 填写行程与住宿</div>
  <div style="font-size: 16px;">　按『详细日程表』、填写行动计划与住宿、完了按『发送』（如果您已自备了一份完整的行程表，或行程未定，您可以不必填写行程表，直接按发送。）</div>
  <div style="padding:30px; text-align:center;"><img alt="now loading..."  src="schedule.gif" style="width:50%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div><br/>

  <% if(false) %>
  <div style="padding:30px;"><img alt="now loading..."  src="airline1.gif" style="width:100%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div><br/>
  <div style="padding:30px;"><img alt="now loading..."  src="airline2.gif" style="width:100%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div><br/>
  <% end %>


  <br/>
  <br/>
  <br/>
  <br/>
  <div style="font-weight: bold; color:#333333; font-size:25px; padding:10px 0;">6. 修改</div>
  <div style="font-size: 16px;">　发送后，状态处于『正在申请』状态。我们会在5～15分钟之内确认，并将状态转为『发送完毕』。您若发现有错误，请按『修改』键立即修改。※『发送完毕』后您你将无法修改。</div>
  <div style="padding:30px; text-align:center;"><img alt="now loading..."  src="modify.gif" style="width:50%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div><br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div style="font-weight: bold; color:#333333; font-size:25px; padding:10px 0;">7. 下载保证书</div>
  <div style="font-size: 16px;">　发送后，按『身元保証書』下载资料。这份资料是您需要拿去领馆的资料。</div>
  <div style="padding:30px; text-align:center;"><img alt="now loading..."  src="download.gif" style="width:50%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div><br/>
  <% if(false) %>
  <div style="padding:30px;"><img alt="now loading..."  src="mimoto.gif" style="width:100%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div><br/>
  <% end %>
  <br/>
  <br/>
  <br/>
  <br/>
  <div style="font-weight: bold; color:#333333; font-size:25px; padding:10px 0;">8. 下载帰国報告書</div>
  <div style="font-size: 16px;">　填完表之后，5-15分之内我们会向中联协申请签证。签证批准后，您将可以下载『归国报告书』。您必须把这份归国报告书打印出来，交给中国添乗員或自由行客人。关照他们在日本回国登机之前把归国报告书交给航空公司盖章，完了邮寄弊社。(邮寄费82日元。)<br/>地址：〒106-0032東京都港区六本⽊7-18-5 ソフイアビル 212号室<br/>收信人：CRANE INTERNATIONAL<br/>TEL：03-3470-6851</div>
  <div style="padding:30px; text-align:center;"><img alt="now loading..."  src="kikoku.gif" style="width:50%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div><br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div style="font-weight: bold; color:#333333; font-size:25px; padding:10px 0;">9. 本公司盖章与情报</div>
  <div style="font-size: 16px;">　如果您在使用自备的行程表，并且需要本公司盖章的情况，请按『日本公司名』。会出现关于本公司的所有情报以及印章。您可以下载并粘贴到您的行程表以及其他资料里。</div>
  <div style="padding:30px; text-align:center;"><img alt="now loading..."  src="download_signature.gif" style="width:50%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div><br/>

  <% if(false) %>
  <div style="padding:30px;"><img alt="now loading..."  src="upload_signature.gif" style="width:100%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div><br/>
  <div style="padding:30px;"><img alt="now loading..."  src="upload_signature2.gif" style="width:100%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div>
  <% end %>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div style="font-weight: bold; color:#333333; font-size:25px; padding:10px 0;">10. 删除</div>
  <div style="font-size: 16px;">　如果您在『发送完毕』后发现填写错误需要修改或取消，请点『申请删除』。我们管理人员会在1工作日之内确认并替您完全取消此签证。</div>
  <div style="padding:30px; text-align:center;"><img alt="now loading..."  src="delete.gif" style="width:50%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div><br/>
  <br/>
  <br/>
  如果有不明白之处，详细询问请致电+81-33470-6851   QQ:1543785817


 <div>
