<div style="background-color: #eeeeee; padding:0 40px; position:absolute; width:100%; left: 0; top: 0;">
  <div style="text-align:center; margin: 80px 0;">
    <h1>
      <i class="fa fa-flag"></i> Excel 操作步骤
    </h1>
  </div>
  <br/>
  <br/>


  <div style="font-weight: bold; color:#333333; font-size:25px; padding:10px 0;">1. 下载Excel模版</div>
  <div style="font-size: 16px;">　如果您已有完整的Excel资料，您可以直接拉到<a href="/projects/new">申请画面</a>上，按『发送』便完毕。(若有错误系统会提醒您。)</div>
  <div style="padding:30px; text-align:center;"><img alt="now loading..." src="drop_excel.gif" style="width:50%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div>
  <br/>
  <br/>
  <br/>
  <br/>
  <div style="font-size: 16px;">　我们指定的Excel最新版本在申请画面上可下载。填完这份Excel，即可直接上传网站。也可以作为拿去大使馆的申请资料。（若您希望使用此功能请向我们提出。）</div>
  <div style="padding:30px; text-align:center;"><img alt="now loading..." src="download_excel.gif" style="width:50%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div>



  <% if(false) %>
  <br/>
  <br/>
  <br/>
  <br/>
  <div style="font-weight: bold; color:#333333; font-size:25px; padding:10px 0;">2. 填写Excel</div>
  <div style="font-size: 16px;">　下载完毕后，打开Excel即可填写，或交给您的下家填写。<br/>
  　※1 : 若中国旅行社编号填写正确，中国旅行社名可以省略。若编号不正确，必须填写旅行社完整名称。<br/>
  　※2 : 签证种类可以选择［团体／个人／三年／五年］<br/>
  　※3 : 日本入境，出境日期必须填写完整数字。<br/>
  　※4 : 客人名单的第一行必须填写代表人。<br/>
  　※5 : 行程表可以省略。</div>
  <div style="padding:30px;"><img alt="now loading..." src="edit_excel.gif" style="width:100%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div>
  <br/>
  <br/>
  <br/>
  <br/>
  <div style="font-weight: bold; color:#333333; font-size:25px; padding:10px 0;">3. 日本保证公司盖章</div>
  <div style="font-size: 16px;">　您或您的下家在填完Excel后如果需要日方保证公司的印章或资料，请打开Excel的第二页就可以看到。</div>
  <div style="padding:30px;"><img alt="now loading..." src="japan_company_excel.gif" style="width:100%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div>
  <br/>
  <br/>
  <br/>
  <br/>
  <div style="font-weight: bold; color:#333333; font-size:25px; padding:10px 0;">4. 上传Excel</div>
  <div style="font-size: 16px;">　Excel文件制作完毕后，您可以直接拉到申请画面上，按发送便完毕。(如果Excel文件不正确，系统会提醒您，您在申请画面上便可修改)</div>
  <div style="padding:30px;"><img alt="now loading..." src="drop_excel.gif" style="width:100%; margin-right:10%; border-radius: 10px; border: #bbbbbb 2px solid;"></div>
  <% end %>
  <br/>
  <br/>
  <br/>
  <br/>
  如果有不明白之处，详细询问请致电+81-33470-6851   QQ:1543785817


 <div>
