<!DOCTYPE html>
<html>
<head>
  <title>JCIC</title>
  <link rel="shortcut icon" type="image/x-icon" href="/ico.png" />
  <style>
    table {
        width: 100%; 
        text-align: center; 
        color: #999999; 
        border: 1px #aaaaaa solid;
    }
    th {
        text-align: center;
        padding: 10px;
        border: 1px #aaaaaa solid;
        font-weight: bold;
        color: black;
    }
    td {
        border: 1px #aaaaaa solid;
        text-align: left;
        padding: 6px 20px;
        color: black;
    }
    tr {
        height: 50px;
    }
    .price {
        color: orange;
        font-size: 16px;
        font-weight: bolder;
    }
  </style>
</head>
<body>
  <div style="text-align:center; margin: 30px 0;">
  </div>
  <div class="container" style="margin-bottom: 30px">
      <h1>招保价格表</h1>
  </div>

  <div class="col-md-10 col-md-offset-1" style="margin-bottom: 40px; margin-top: 20px;">
  <table>
    <tr>
      <th class="col-md-3 col-sm-3 col-xs-3">
        数量
      </th>
      <th class="col-md-4 col-sm-4 col-xs-4">
        价格
      </th>
      <th class="col-md-5 col-sm-5 col-xs-5">
        条件
      </th>
    </tr>
    <tr>
      <td>
          每月8000人以上
      </td>
      <td>
          <span class="price">6元</span>／人
      </td>
      <td>
          需事先收取10万人民币保证金。万一发生滞留现象，按照2万人民币／人要求赔偿。
      </td>
    </tr>
    <tr>
      <td>
          每月4000〜8000人
      </td>
      <td>
          <span class="price">9元</span>／人，或48000元包月
      </td>
      <td>
          需事先收取5万人民币保证金。万一发生滞留现象，按照2万人民币／人要求赔偿。
      </td>
    </tr>
    <tr>
      <td>
          每月2000〜4000人
      </td>
      <td>
          <span class="price">12元</span>／人，或36000元包月
      </td>
      <td>
          无条件
      </td>
    </tr>
    <tr>
      <td>
          每月500〜2000人
      </td>
      <td>
          <span class="price">15元</span>／人，或24000元包月
      </td>
      <td>
          无条件
      </td>
    </tr>
    <tr>
      <td>
          小型送客散户
      </td>
      <td>
          <span class="price">18元</span>／人
      </td>
      <td>
          无条件
      </td>
    </tr>
  </table>
  </div>
</body>
</html>
