<h1><i class="fa fa-lock"></i> 会员一览</h1>
<div class="row">
  <div class="container col-md-10 col-md-offset-1">
    <% if @traders.any? %>
      <table class="table trader-info trader-info-hover">
        <thead>
          <tr class="thead">
            <th class="col-md-1">ID</th>
            <th class="col-md-2">公司</th>
            <th class="col-md-3">代表</th>
            <th class="col-md-3">QQ</th>
            <th class="col-md-1">总签单</th>
            <th class="col-md-2">最后申请时间</th>
          </tr>
        </thead>
        <tbody>
          <%= render @traders %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>