<style type="text/css">
  table {
    margin: 30px 0;
  }
  td, th {
    border: 1px solid #cccccc;
    padding: 5px;
    text-align: center
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<% analysis_period = 7 #days %>
<h1><i class="fa fa-signal"></i> 数据分析</h1>
<div class="row">
  <div class="container col-md-12">
    <table class="col-md-12">
      <% @traders.reverse.each do |trader| %>
        <tr>
          <td class="col-md-4">
            <div style="background-color:#55aa55; padding:5px 10px; color:white; border-radius: 30px;"><%= trader.company_name %></div>
          </td>
          <td class="graph-cell col-md-8">
            <% labels = "[" %>
            <% data = "[" %>
            <% (analysis_period).downto(0).each do |num| %>
              <% target_date = Date.today - num %>
              <% data += Project.where(:created_at => Time.parse(target_date.strftime("%Y-%m-%d"))..Time.parse(target_date.strftime("%Y-%m-%d"))+60*60*24-1, :trader_id => trader.slave_trader_ids + [trader.id]).length.to_s %>
              <% labels += '"' + target_date.strftime("%m月%d日") + '"' %>

              <% if num > 0 %>
                <% data += "," %>
                <% labels += "," %>
              <% end %>
            <% end %>
            <% data += "]" %>
            <% labels += "]" %>

            <input type="hidden" class="data" value="<%= data %>">
            <input type="hidden" class="labels" value="<%= labels %>">
            <div class="box">
              <canvas class="chart" height="100" width="600"></canvas>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script language="JavaScript">
  $("td.graph-cell").each(function() {
      var labels = JSON.parse($(this).find("input.labels")[0].value);
      var data = JSON.parse($(this).find("input.data")[0].value);

      var data = {
          labels: labels,
          datasets: [
              {
                  label: "Chart",
                  fillColor: "rgba(151,187,205,0.2)",
                  strokeColor: "rgba(151,187,205,1)",
                  pointColor: "rgba(151,187,205,1)",
                  pointStrokeColor: "#fff",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(151,187,205,1)",
                  data: data
              }
          ]
      };

      var options = {
        scaleLabel : "\<\%=value\%\>件",
        animationSteps : 20,
        tooltipFillColor: "rgba(0,0,0,0.8)",                
        tooltipTemplate: "\<\%if (label){\%\>\<\%=label\%\>: \<\%}\%\>\<\%= value \%\>件",
      };
      var ctx = $(this).find("canvas.chart")[0].getContext("2d")
      var lineChart = new Chart(ctx).Line(data, options);
  })

</script>