<h1>中連社更新</h1>
<div style="margin-top: 30px;">
  <form action="/admin/update_company_codes" method="post">
    <textarea name="company_codes" cols="40" rows="10" class="form-control"></textarea>
    <input type="submit" value="+更新" class="btn btn-primary" />
  </form>
</div>