<div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-6 col-sm-offset-6 col-xs-offset-6">
  <input type="text" class="form-control" placeholder="请输入申请人姓名" name="keyword"/>
</div>

<div class="col-md-2 col-sm-2 col-xs-2">
  <input class="btn btn-primary require-loading" type="submit" value="查询"/>
</div>
