<h1><i class="fa fa-users"></i> 电签名单</h1>

<div class="row">
  <div class="container col-md-10 col-md-offset-1">

    <% if @projects.any? %>
      <table class="project-info table">
        <caption>
          <a href="projects/new" class="btn btn-success btn-large">
            <i class="fa fa-user-plus"></i> 追加
          </a>
        </caption>
        <thead>
          <tr>
            <th>中国旅行社</th>
            <th>代表人</th>
            <th>在留期间</th>
            <th>签证</th>
            <th>旅程</th>
            <th>名单</th>
            <th>状态</th>
            <th>其他</th>
          </tr>
        </thead>
        <tbody>
          <%= render @projects %>
        </tbody>
      </table>
    <% end %>


  </div>
</div>