<h1>
  <i class="fa fa-users"></i> 
  <% if is_admin? %>
    所有电签
  <% else %>
    申请签证
  <% end %>
</h1>

<div class="row">
  <div class="container col-md-10 col-md-offset-1">
    <% if is_admin? || @projects.any? %>
      <table class="project-info table">
        <caption>

          <% if is_admin? %>
            <div class="row" style="text-align:center"><h3>所有的签证 （ 查询结果：<%= @projects.length %>件 ）<h3></div>
            <div class="row" style="text-align:center">
              <form action="/projects/index" accept-charset="UTF-8" method="get">
                <%= render "/shared/search_form" %>
              </form>
            </div>
          <% end %>

          <div style="text-align:center; height:60px;">
            <a href="/projects/new" style="position:absolute; left:20px; margin-top:20px;" class="btn btn-success btn-large require-loading" id="new-project">
              <i class="fa fa-user-plus"></i> 申请
            </a>
            <%= paginate @projects, :window => 5 %>
          </div>
        </caption>
        <thead>
          <tr>
            <th>签证资料</th>
            <th>状态</th>
              <th>价格</th>
            <th>回国报告</th>
          </tr>
        </thead>
        <tbody>
          <%= render @projects %>
        </tbody>
      </table>
    <% else %>
        <a href="/projects/new" class="btn btn-success btn-large" id="new-project">
          <i class="fa fa-user-plus"></i> 新建
        </a>    
    <% end %>
  </div>
</div>