<!-- <h1><i class="fa fa-user-plus"></i> 填写电签表</h1> -->

<div class="row">
  <div class="container">
    <%= render :partial => 'form', :locals => {:project => @project, :button_text => "发送"} %>
  </div>
</div>
