<%= link_to "PDFで表示", project_path(@project, :format => "pdf", :id => @project.id), :class => 'btn btn-primary' %>
<div class="container">
</div>
<div class="container">
  <div class="container">
  </div>
</div>