<h1><i class="fa fa-book"></i> 中国旅行社资料</h1>
<div class="row">

  <div class="container col-md-8 col-md-offset-2">
    <% if @company_codes.any? %>
      <table class="table company-info company-info-hover">
        <caption>
          <!-- search box -->
          <div class="input-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" placeholder="请输入旅行名或指定番号..." id="company_keyword" oninput="updatePublicCompanyTable()" onchange="updatePublicCompanyTable()">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" onclick="updatePublicCompanyTable(); alert('搜索完毕');"><i class="fa fa-search"></i> 搜索</button>
            </span>
          </div>          
        </caption>

        <thead>
          <tr class="thead">
            <th class="col-md-3">指定番号</th>
            <th class="col-md-7">旅行会社名</th>
            <th class="col-md-2">管轄</th>
          </tr>
        </thead>

        <tbody id="company_tbody_dynamic">
          <% @company_codes.each do |company_code| %>
            <%= render :partial => '/company_codes/public_company_code', :locals => { :company_code => company_code } %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<!-- alert form -->
<div class="alert alert-success alert-panel" id="success-alert">
  <strong>拷贝完毕 </strong><br/><br/>
  Succeed to copy the text to clipboard.
</div>