  @import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
textarea.form-control {
  font-size: 0.8em;
}
.date_container textarea.form-control {
  font-size: 1.0em;  
}
input.form-control {
  font-size: 0.9em;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* footer */
footer{
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  border-top: 1px solid #cccccc;
  color: #aaaaaa;
}

/* new user form */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* error messages */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  display: inline;
  .form-control {
    color: $state-danger-text;
    background-color: #f2dcdc;
  }
}
.field_ok {
  .form-control {
    background-color: #dcf2dc;
  } 
}

#visaType, .gender_type {
  label.active, label.active:hover {
    background-color: #00aa00;
    color: #ffffff;
  }
}

/* tables */
.trader-info {
  margin-top: 30px;
  color: #fff;
  tbody, caption, tr, td, th {
    border: #ffffff 1px solid;
  }
  caption {
    border-radius: 30px 30px 0 0;
    font-size: 20px;
    background-color: #8084a1;
    color: #fff;
    text-align: center;
  }
  .footer {
    background-color: #8084a1;
    border-radius: 0 0 15px 15px;
    text-align: center;
  }
  th {
    background-color: #505050;
  }
  tr {
    background-color: #7070a0;
  }
}

.alert-panel {
  position: fixed;
  z-index: 10;
  display: none;
}

#success-alert {
  left: 50%;
  top: 50%;
  width: 300px;
  height: 100px;
  margin-left: -150px;
  margin-top: -50px;
  text-align:center;  
}



#failed-alert {
  left: 50%;
  top: 50%;
  width: 350px;
  min-height: 300px;
  margin-left: -175px;
  margin-top: -180px;

  div.title {
    text-align:center; 
  }
}


.company-info {
  color: #ffffff;
  tbody, caption, tr, td, th {
    border: #ffffff 1px solid;
  }
  margin-top: 30px;

  th {
    background-color: #505050;
  }
  tr:not(.stopped) {
    background-color: #0099a0;
  }
  tr:not(.stopped):hover {
    background-color: #0077a0;
  }
  tr.stopped {
    background-color: #e74c3c;  
  }
  tr.stopped:hover {
    background-color: #c0392b;
  }
}

.project-info {
  margin-top: 30px;
  border: 3px #cccccc solid;

  th {
    background-color: #333333;
    text-align: center;
    color: #CEF6F5;
  }


  td, th, tr {
    border: 1px #cccccc solid;
  }
  tr {
    background-color: #fefefe;
    color: #000000;
  }

  tr:not(.thead):hover {
    background-color: #FBF5EF;
  }


  td.btn-container {
    text-align: center;
    line-height: 25px;

    .btn {
    }
  }
}

.trader-info-hover {
  tr:not(.thead):hover {
    background-color: #6060a0;
  }
}

h1 {
  /* container gradient */
  background-color: #cccccc;
  background-image: -moz-radial-gradient(center 45deg,circle cover, #cde6f9, #6191bf);
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from(#cde6f9), to(#6191bf));

  /*shadow*/
  -webkit-box-shadow: 2px 2px 2px #aab;
  -moz-box-shadow: 2px 2px 2px #aab;
  box-shadow: 2px 2px 2px #aab;

  /* text color */
  color: #ffffff;
  -webkit-text-shadow: 2px 2px 2px #333333;
  -moz-text-shadow: 2px 2px 2px #333333;
  text-shadow: 2px 2px 2px #333333;

  border: #cde6f9 1px solid;
  border-radius: 30px;

  padding: 30px;
  max-width: 400px;
  margin: 30px auto 0 auto;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.datepicker {
  color: #2e9933;
  font-weight: bold;
}

/* dashed_container */
div.dashed_container {
  #title {
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
    border: #aaaaaa solid 2px;
    width: 200px;
    height: 80px;
    margin: auto;
    padding-top: 25px;
    border-radius: 30px;
    margin-bottom: 15px;
  }
  margin-top: 40px;
  margin-bottom: 50px;
  border-radius: 30px;
  border: 2px dashed;
  padding: 20px 60px 40px 60px;  

  span.number {
    color: #4488ff;
  }
  span.index, span.date-index {
    position: absolute;
    color: #c0c0c0;
    margin-left: -16px;
    margin-top: 30px;
  }
}
div#identity_container {
  background-color: #e6e6fa;
}

div#schedules_container {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #e6e6fa;

  /*background-color: #fffacd; */
  table {
    tr, td {
      color: #888888;
      border: 0;
    }
    td {
      padding: 10px 5px;
    }
    td.date textarea {
      text-align: center;
    }
    input {
      height: 100px;
    }
    textarea {
      border-radius: 10px;
      height: 80px;
    }
  } 
}

div#clients_container {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #e6e6fa;

  table {
    .remove_client {
      display: inline-block;
      position: absolute;
      float: right;
      right: 3px;
      margin-top: 18px;
      color: #bcbcbc;
      font-size: 25px;
    }
    .remove_client:hover {
      color: #ffa0a0;
      cursor: pointer;
    }
    tr, td {
      color: #888888;
      border: 0;
    }
    td {
      padding: 10px 5px;
    }
  } 
  .add_client {
    float: bottom right;
    position: absolute;
    bottom: 15px;
    right: 30px;
    color: #c0c0c0;
  }
  .add_client:hover {
    cursor: pointer;
    color: #81BEF7;
  }
  .gender_type {
    width: 100%;
  }

  .gender_type label.btn-default {
    width: 50%;
  }  
}

#now_loading {
  position: fixed;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
  z-index: 9999;
}

.errors-container {
  padding-top: 20px;
}

#excel_button {
  float: right;
  margin-top: -90px;
  margin-right: 5px;
  border-radius: 30px;
}

#excel_area {
  height: 300px;
}

.company-name-cell {
  text-align: center;
  border-radius: 30px;
  font-size: 12px;
}

.origin-company-name-cell {
  border: solid 2px black;
  background-color: #dfdfdf;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}

.date-arrival-cell {
  background-color: orange;
  width: 70%;
  margin-top: 5px;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  padding: 3px;
  display: inline-block;
}

.visa-type-cell {
  background-color: orange;
  width: 26%;
  margin-top: 5px;
  color: #ffffff;
  text-align: center;
  float: right;
  border-radius: 6px;
  font-size: 13px;
  padding: 3px;
  display: inline-block;
}

.presentative-name-cell {
  border: solid 2px #666666;
  background-color: #dfdfdf;
  position: relative;
  left: 5%;
  width: 90%;

  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  padding: 3px;
  display: inline-block;  
}

.total-people-cell {
  position: relative;
  float: right;
  right: 5%;
  width: 40%;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  padding: 3px;
  display: inline-block;  
}

.status-cell {
  position: relative;
  left: 5%;
  width: 90%;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  padding: 3px;
  display: inline-block;  
}

.status-cell.committed {
  background-color: gray;
  color: #ffffff;

}
.status-cell.waiting {
  color: #ffffff;
  background-color: #674ed8;  
}
.status-cell.uncommitted {
  color: #ffffff;
  background-color: #4ed867;  
}


.created-cell {
  color: gray;
  border-color: gray;
  position: relative;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  font-size: 10px;
  padding: 3px;
  display: inline-block;  
}

/* font-awesome */
.fa-exclamation-circle {
  color: #f00;
}
.fa-exclamation-triangle {
  color: #cc0;
}
.fa-trash {
  color: #ffaa77;
}
.fa-edit {
  color: #88ff00;
}
.fa-check-circle-o {
  color: #009933; 
}
.fa-close {
  color: #e33;
}
.fa-chevron-down.long {
  color: #cccccc;
  position: relative;
  float: right;
  right: 5px;
  top: 31px;
}
.fa-chevron-down.short {
  color: #cccccc;
  position: relative;
  float: right;
  right: 6px;
  top: 28px;
}

.fa-check {
  color: #55cc33;
}