  @import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* footer */
footer{
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  border-top: 1px solid #cccccc;
  color: #aaaaaa;
}

/* new user form */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* error messages */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  display: inline;
  .form-control {
    color: $state-danger-text;
    background-color: #f2dcdc;
  }
}
.field_ok {
  .form-control {
    background-color: #dcf2dc;
  } 
}

#visaType {
  label.active {
    background-color: #00aa00;
  }
}

/* tables */
.trader-info {
  margin-top: 30px;
  color: #fff;
  tbody, caption, tr, td, th {
    border: #ffffff 1px solid;
  }
  caption {
    border-radius: 30px 30px 0 0;
    font-size: 20px;
    background-color: #8084a1;
    color: #fff;
    text-align: center;
  }
  .footer {
    background-color: #8084a1;
    border-radius: 0 0 15px 15px;
    text-align: center;
  }
  th {
    background-color: #505050;
  }
  tr {
    background-color: #7070a0;
  }
}

.alert-panel {
  position: fixed;
  z-index: 10;
  display: none;
}

#success-alert {
  left: 50%;
  top: 50%;
  width: 300px;
  height: 100px;
  margin-left: -150px;
  margin-top: -50px;
  text-align:center;  
}

#failed-alert {
  left: 50%;
  top: 50%;
  width: 350px;
  height: 300px;
  margin-left: -175px;
  margin-top: -180px;

  div.title {
    text-align:center; 
  }
}


.company-info {
  color: #ffffff;
  tbody, caption, tr, td, th {
    border: #ffffff 1px solid;
  }
  margin-top: 30px;

  th {
    background-color: #505050;
  }
  tr:not(.stopped) {
    background-color: #0099a0;
  }
  tr:not(.stopped):hover {
    background-color: #0077a0;
  }
  tr.stopped {
    background-color: #e74c3c;  
  }
  tr.stopped:hover {
    background-color: #c0392b;
  }
}

.project-info {
  margin-top: 30px;
}

.trader-info-hover {
  tr:not(.thead):hover {
    background-color: #6060a0;
  }
}

h1 {
  background-color: #ffffff;
  border: #cccccc 3px solid;
  padding: 30px;
  max-width: 400px;
  margin: 30px auto 0 auto;
  border-radius: 30px;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.datepicker {
  color: #2e9933;
  font-weight: bold;
}

/* dashed_container */
div.dashed_container {
  #title {
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
    border: #aaaaaa solid 2px;
    width: 200px;
    height: 80px;
    margin: auto;
    padding-top: 25px;
    border-radius: 30px;
    margin-bottom: 15px;
  }
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 2px dashed;
  padding: 20px 60px 40px 60px;  
}
div#identity_container {
  background-color: #efefef;  
}

div#schedules_container {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fffacd; 
  table {
    tr, td {
      color: #888888;
      border: 0;
    }
    td {
      padding: 10px 5px;
    }
    td.date textarea {
      text-align: center;
    }
    textarea.datepicker {
      background-color: #dcf2dc;
    }
    input {
      height: 100px;
    }
    textarea {
      border-radius: 10px;
      height: 6em;
    }
  } 
}

div#clients_container {
  background-color: #e6e6fa;  
}


/* font-awesome */
.fa-exclamation-circle {
  color: #f00;
}
.fa-exclamation-triangle {
  color: #cc0;
}
.fa-trash {
  color: #ffaa77;
}
.fa-edit {
  color: #88ff00;
}
.fa-check-circle-o {
  color: #009933; 
}
.fa-close {
  color: #e33;
}
.fa-chevron-down.long {
  color: #cccccc;
  position: relative;
  float: right;
  right: 18px;
  top: 31px;
}
.fa-chevron-down.short {
  color: #cccccc;
  position: relative;
  float: right;
  right: 6px;
  top: 28px;
}

.fa-check {
  color: #55cc33;
}