@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
textarea.form-control {
  font-size: 0.8em;
}
.date_container textarea.form-control {
  font-size: 1.0em;  
}
#identity_container, #schedules_container, #clients_container, #go_back_container {
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */
  input.form-control {
    font-size: 0.9em;
  }
}

.new_trader, .edit_trader {
  margin-top: 40px;
}

input.form-control::-webkit-input-placeholder {
  color: #d0d0d0;
}
textarea.form-control::-webkit-input-placeholder {
  color: #d0d0d0;
}
.field-ok form-control::-webkit-input-placeholder {
  color: red;
}
.field-ok textarea.form-control::-webkit-input-placeholder {
  color: red;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#identity_container label {
  z-index: 0;
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 10px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

/* pagenation */
.pagination {
    border-left: 1px solid #ddd;
    font-size: 10px;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
    a {
      background-color: #eee;
    }
    a:hover {
      background-color: #ccc;
    }
    span.current {
      background-color: #dadada;
    }
}

/* arrow box when mouse over */
div.disabled-modify {
  position: relative;
}
.arrow_box {
  display: none;
  position: absolute;
  padding: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #4B088A;
  font-weight: bold;
  color: #fff;
}
.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 15%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #4B088A;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* footer */
footer{
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  border-top: 1px solid #cccccc;
  color: #aaaaaa;
}

/* new user form */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* error messages */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  display: inline;
  .form-control,
  select#project_departure_time_4i,
  select#project_departure_time_5i,
  select#project_arrival_time_4i,
  select#project_arrival_time_5i, {
    color: $state-danger-text;
    background-color: #f2dcdc;
  }
}
.field_ok {
  .form-control,
  select#project_departure_time_4i,
  select#project_departure_time_5i,
  select#project_arrival_time_4i,
  select#project_arrival_time_5i, {
    background-color: #dcf2dc;
  } 
}

#visaType, .gender_type, .toggle {
  label.active, label.active:hover {
    background-color: #00aa00;
    color: #ffffff;
  }
}

/* tables */
.trader-info {
  margin-top: 30px;
  color: #fff;
  tbody, caption, tr, td, th {
    border: #ffffff 1px solid;
  }
  caption {
    border-radius: 30px 30px 0 0;
    font-size: 20px;
    background-color: #8084a1;
    color: #fff;
    text-align: center;
  }
  .footer {
    background-color: #8084a1;
    border-radius: 0 0 15px 15px;
    text-align: center;
  }
  th {
    background-color: #505050;
  }
  tr {
    background-color: #9090a0;
  }
}

.alert-panel {
  position: fixed;
  z-index: 10;
  display: none;
}

#success-alert {
  left: 50%;
  top: 50%;
  width: 300px;
  height: 100px;
  margin-left: -150px;
  margin-top: -50px;
  text-align:center;  
}



#failed-alert {
  left: 50%;
  top: 50%;
  width: 350px;
  min-height: 300px;
  margin-left: -175px;
  margin-top: -180px;

  div.title {
    text-align:center; 
  }
}


.company-info {
  color: #ffffff;
  font-size: 0.8em;
  tbody, caption, tr, td, th {
    border: #ffffff 1px solid;
  }
  margin-top: 30px;

  th {
    background-color: #505050;
  }
  tr:not(.stopped) {
    background-color: #77aae0;
  }
  tr:not(.stopped):hover {
    background-color: #6688f0;
  }
  tr.stopped {
    background-color: #c72c1c;  
  }
  tr.stopped:hover {
    background-color: #ff192b;
  }
}


.project-info {
  margin-top: 30px;
  border: 3px #cccccc solid;

  th {
    background-color: #333333;
    text-align: center;
    color: #CEF6F5;
  }


  td, th, tr {
    border: 1px #cccccc solid;
  }
  tr {
    background-color: #fefefe;
    color: #000000;
  }
  tr.deleted {
    background-color: #eeeeee;
    color: #000000;  
  }
  tr:not(.thead):hover {
    background-color: #FBF5EF;
  }
  tr.deleted:hover {
    background-color: #eeeeee;
    color: #000000;  
  }


  .btn-container {
    text-align: center;
    .btn {
    }
  }
  .btn-group {
    margin-top: 3px;
  }
}

.trader-info-hover {
  tr:not(.thead):hover {
    background-color: #6060a0;
  }
}

h1 {
  /* container gradient */
  background-color: #cccccc;
  background-image: -moz-radial-gradient(center 45deg,circle cover, #cde6f9, #6191bf);
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from(#cde6f9), to(#6191bf));

  /*shadow*/
  -webkit-box-shadow: 2px 2px 2px #aab;
  -moz-box-shadow: 2px 2px 2px #aab;
  box-shadow: 2px 2px 2px #aab;

  /* text color */
  color: #ffffff;
  -webkit-text-shadow: 2px 2px 2px #333333;
  -moz-text-shadow: 2px 2px 2px #333333;
  text-shadow: 2px 2px 2px #333333;

  border: #cde6f9 1px solid;
  border-radius: 30px;

  padding: 30px;
  max-width: 400px;
  margin: 30px auto 0 auto;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.datepicker {
  color: #2e9933;
  font-weight: bold;
}

/* dashed_container */
div.dashed_container {
  .title {
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
    border: #aaaaaa solid 2px;
    width: 200px;
    height: 80px;
    margin: auto;
    padding-top: 25px;
    border-radius: 30px;
    margin-bottom: 15px;
  }
  margin-top: 40px;
  margin-bottom: 50px;
  border-radius: 30px;
  border: 2px dashed;
  padding: 20px 60px 40px 60px;  

  span.number {
    color: #4488ff;
  }
  span.index, span.date-index {
    position: absolute;
    color: #c0c0c0;
    margin-left: -16px;
    margin-top: 30px;
  }
}
div#identity_container, div#partner_container {
  background-color: #e6e6fa;
}

div#go_back_container {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #e6e6fa;
  /*background-color: #fffacd; */

  div.cell {
    padding: 6px;
    color: #888888;
  }
  select {
    width: 45%;
    font-size: 0.9em;
    height: 32px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in
  }
}


div#schedules_container {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #e6e6fa;

  /*background-color: #fffacd; */
  table {
    tr, td {
      color: #888888;
      border: 0;
    }
    td {
      padding: 10px 5px;
    }
    td.date textarea {
      text-align: center;
    }
    input {
      height: 100px;
    }
    textarea {
      border-radius: 10px;
      height: 80px;
    }
  } 
}

div#clients_container {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #e6e6fa;

  table {
    .remove_client {
      display: inline-block;
      position: absolute;
      float: right;
      right: 3px;
      margin-top: 18px;
      color: #bcbcbc;
      font-size: 25px;
    }
    .remove_client:hover {
      color: #ffa0a0;
      cursor: pointer;
    }
    tr, td {
      color: #888888;
      border: 0;
    }
    td {
      padding: 10px 5px;
    }
  } 
  .add_client {
    float: bottom right;
    position: absolute;
    bottom: 15px;
    right: 30px;
    color: #c0c0c0;
  }
  .add_client:hover {
    cursor: pointer;
    color: #81BEF7;
  }
  .gender_type {
    width: 100%;
  }

  .gender_type label.btn-default {
    width: 50%;
  }  
}

#now_loading {
  position: fixed;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
  z-index: 9999;
}

.errors-container {
  padding-top: 20px;
}

#excel_button, #excel_button2, #undecided_button {
  float: right;
  margin-top: -90px;
  margin-right: 5px;
  border-radius: 30px;
}

#excel_area, #excel_area2 {
  height: 300px;
}

.company-name-cell {
  text-align: center;
  border-radius: 30px;
  font-size: 12px;
}
.japan-sign:hover {
  background-color: #5555ff;
}
.japan-sign {
  background-color:#8888ff;  
}

.origin-company-name-cell {
  color: white;
  /* border: solid 2px black; */
  background-color: purple;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}

.date-arrival-cell {
  border: solid 2px #666666;
  background-color: #dfdfdf;

  width: 70%;
  margin-top: 5px;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  padding: 3px;
  display: inline-block;
}

.visa-type-cell {
  border: solid 2px #666666;
  background-color: #dfdfdf;

  width: 26%;
  margin-top: 5px;
  text-align: center;
  float: right;
  border-radius: 6px;
  font-size: 12px;
  padding: 3px;
  display: inline-block;
}

.presentative-name-cell {
  border: solid 2px #666666;
  background-color: #dfdfdf;
  position: relative;
  margin-top: 5px;
  width: 100%;

  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  padding: 3px;
  display: inline-block;  
}


.status-cell {
  position: relative;
  left: 5%;
  width: 90%;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  padding: 3px;
  display: inline-block;  
}

.status-cell.committed {
  background-color: gray;
  color: #ffffff;
}
.status-cell.requesting_delete {
  color: #ffffff;
  background-color: red;  
}
.status-cell.uncommitted {
  color: #ffffff;
  background-color: #4ed867;  
}
.status-cell.deleted {
  color: #ffffff;
  background-color: gray;  
}

.small-gray-cell {
  color: gray;
  border-color: gray;
  position: relative;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  font-size: 10px;
  padding: 3px;
  display: inline-block;  
}

.price-cell {
  width: 100%;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  padding: 3px;
  display: inline-block;  
}
.price-cell.unpaid {
  background-color: orange;
  color: #ffffff;
}
.price-cell.paid {
  background-color: gray;
  color: #ffffff;  
}
span.unpaid {
  color: red;
}
span.paid {
  color: gray;
}

.confirmation-cell {
  width: 100%;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  padding: 3px;
  display: inline-block;  
}
.confirmation-cell.unconfirmed {
  background-color: #fc7860;
  color: #ffffff;
}
.confirmation-cell.confirmed {
  background-color: gray;
  color: #ffffff;  
}
span.unconfirmed {
  color: red;
}
span.confirmed {
  color: gray;
}


/* font-awesome */
.fa-exclamation-circle {
  color: #f00;
}
.fa-exclamation-triangle {
  color: #cc0;
}
.fa-trash {
  color: #ffaa77;
}
.fa-edit {
  color: #88ff00;
}
.fa-check-circle-o {
  color: #009933; 
}
.fa-close {
  color: #e33;
}
.fa-chevron-down.long {
  color: #cccccc;
  position: relative;
  float: right;
  right: 5px;
  top: 31px;
}
.fa-chevron-down.short {
  color: #cccccc;
  position: relative;
  float: right;
  right: 6px;
  top: 28px;
}

.fa-check {
  color: #55cc33;
}