table.ui-datepicker-calendar tbody td.ui-datepicker-week-end a.ui-state-default {
    color: #3399ff;
}
table.ui-datepicker-calendar tbody td:first-child a.ui-state-default{
    color: #ff5533;
}
table.ui-datepicker-calendar tbody td:last-child a.ui-state-default {
    color: #3399ff;
}
