* {
  margin: 0;
  padding: 0;
}
.head {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

table {
  width: 100%;
  border: 1px solid black;
  font-family: "ＭＳ Ｐゴシック", arial, helvetica, clean, sans-serif;  
  font-family: "Hiragino Sans GB","Hiragino Sans GB W3","STXihei"; webkit-font-smoothing:antialiased;
  border-collapse: collapse;
}
tr, th, td {
  padding: 8px;
}



/* projects table */
table#project {
  font-size: 14px;
  margin-top: 30px;
  text-align: left;
}
table#project caption .title-date {
  font-size: 15px;
  text-align: right;
  padding: 5px;
}
table#project caption .title-date .text {
  color: #ff0000;
}
table#project caption .representative {
  padding: 2px;
  font-size: 15px;
  text-align: right;  
}
table#project td {
  border: 1px solid black;
  padding: 14px;
}
table#project td.title {
  width: 30%;
}
table#project td.content {
  width: 70%;
}
table#project td.name-title {
  width: 20%;
}
table#project td.name-content {
  width: 50%;
}

/* schedules table */
table#schedules {
  /* can be removed */
  page-break-before: always;
  margin-top: 170px;    
}
table#schedules caption .title {
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
}
table#schedules caption .title-date {
  font-size: 15px;
  text-align: right;
  padding: 5px;
}
table#schedules caption .title-date .text {
  color: #ff0000;
}
table#schedules th {
  font-weight: normal;
  text-align: center;
  border: 1px solid black;
  font-size: 13px;
}
table#schedules td {
  border: 1px solid black;
  font-size: 11px;
  vertical-align: top;
  height: 60px;
}
table#schedules .date {
  width: 14%;
  text-align: center;
}
table#schedules .plan {
  width: 43%;
}
table#schedules .hotel {
  width: 43%;
}


/* chinese visa company info */
div.visa-company {
  line-height: 20px;
  display: inline-block;
  /* background-color: blue; */
  padding: 10px;
  line-height: 20px;
  margin-bottom: -20px;
}

/* company signature */
div.signature {
  /*background-color: red;*/
  display: table-header-group;
  page-break-inside:avoid;
  float: right;
  text-align: right;
}
div.signature .text {
  line-height: 20px;
  display: inline-block;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 30px;
}
div.signature img {
  float: right;
  right: 33px;
  margin-top: -130px;
  position: absolute;
  width: 33%;
}


/* clients table */
table#clients {
  /* can be removed */
  page-break-before: always;
  margin-top: 170px;
}
table#clients caption .title {
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
}
table#clients caption .title-date {
  font-size: 15px;
  text-align: right;
  padding: 5px;
}
table#clients caption .representative {
  font-size: 15px;
  text-align: right;
  padding: 2px;  
}
table#clients caption .title-date .text {
  color: #ff0000;
}
table#clients th {
  font-weight: normal;
  text-align: center;
  border: 1px solid black;
  font-size: 12px;
}
table#clients td {
  border: 1px solid black;
  font-size: 11px;
  text-align: center;
  height: 30px;
}
table#clients .no {
  width: 8%;
}
table#clients .chinese-name {
  width: 15%;
}
table#clients .english-name {
  width: 20%;
}
table#clients .gender {
  width: 8%;
}
table#clients .birthday {
  width: 17%;
}
table#clients .hometown {
  width: 11%;
}
table#clients .visa-type {
  width: 8%;
}




